@import url("./navbar.css");
@import url("./footer.css");



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}


:root {
    --maincolor: rgba(195, 155, 116);
}

.active_navbar {
    background-color: rgba(195, 155, 116);
    color: #fff;
}

.active_navbar_login {
    background-color: black;
}





.brands {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    gap: 50px;
    padding: 200px 200px;
    background-image: url("../assest/images/brandbg4.jpg");
    background-repeat: no-repeat;
}

.brand1 {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}

.ourbrand {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    text-align: center;
}

.ourbrand h1 {
    background-color: rgb(246, 246, 246);
    padding: 15px;
    padding-top: 30px;
    height: 100px;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    border-radius: 30px;
}

.brand1 img {
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

.brand_content {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(255, 255, 255, 0.8), rgb(255, 195, 205));
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 30px;
    padding: 20px 10px;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: all 0.5s;
}

.brand1:hover .brand_content {
    opacity: 1;
}

.brand1 p {
    font-size: 12px;
}


@media only screen and (max-width:767px) {
    .brands {
        padding: 200px 0;
    }

    .brand1 img {
        width: 100px;
        height: 100px;
        border-radius: 30px;
    }

    .brand1 {
        width: 100px;
        height: 100px;
    }

    .ourbrand {
        width: 150px;
        height: 150px;
    }

    .ourbrand h1 {
        font-size: 16px;
    }
}