.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 60px;
    width: 80%;
    margin-left: 150px;
    background-color: #fff;
    position: absolute;
    top: 0;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.279);
}

.nav_left {
    margin-left: 50px;
}

.nav_left h1 {
    color: rgba(195, 155, 116);
    font-style: italic;
    letter-spacing: 2px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.nav_right {
    display: flex;
}

.Login {
    margin-right: 100px;
}

.Login a {
    color: rgba(195, 155, 116);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s;
}

.Login a:hover {
    background-color: rgba(195, 155, 116);
    color: #fff;
}

.nav_right ul {
    display: flex;
    justify-content: space-evenly;
    gap: 35px;
    position: relative;
    list-style: none;
}

.nav_right ul i {
    display: none;
}

.nav_right a {
    color: black;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.2s;
    padding: 3px 7px;
    border-radius: 6px;
}

.nav_right a:hover {
    background-color: rgba(195, 155, 116);
    color: #fff;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 110%;
    left: 300px;
    padding: 10px;
    border-radius: 10px;
}

.dropdown a {
    transition: all;
}

.dropdown a:hover {
    background-color: rgba(195, 155, 116);
}

.nav_right ul li:hover .dropdown {
    display: block;
}

.dropdown ul {
    display: block;
    width: 80px;
}

.dropdown ul li {
    width: 80px;
    margin-top: 20px;
}

.Login i {
    display: none;
}


@media only screen and (max-width:1350px) {
    .nav_left h1 {
        font-size: 22px;
        margin-left: -30px;
    }

    .nav_right a {
        font-size: 12px;
    }

    .nav_right ul {
        gap: 6px;
    }

    .Login a {
        font-size: 14px;
        margin-right: -40px;
    }

}

@media only screen and (max-width:950px) {
    .nav_right {
        position: fixed;
        right: 0;
        top: 0;
        width: 200px;
        background-color: #fff;
        background-color: #fff;
        backdrop-filter: blur(5px);
        box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.15);
        height: 100vh;
        transition: 0.5s;
        display: none;
        z-index: 100;
    }

    .nav_right ul {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 20px;
        padding-left: 20px;
        gap: 30px;
    }

    .nav_right ul>i {
        display: inline;
        cursor: pointer;
        font-size: 20px;
    }

    .nav_right a {
        font-size: 18px;
        margin-top: 20px;
    }

    .Login {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dropdown {
        left: 75px;
        top: 150px;
        background: transparent;
    }

    .dropdown ul {
        gap: 10px;
    }

    .Login i {
        transform: translateX(50px);
        font-size: 25px;
        cursor: pointer;
        display: block;
    }

    .nav {
        width: 80%;
        margin-left: 60px;
    }
}

@media only screen and (max-width:600px) {
    .nav_left h1 {
        font-size: 18px;
    }
}